{% extends "_blank.html" %}

{% block qux_content %}
<div class="container">
  <div class="row">
    <div class="col-12 col-md-4">Route</div>
    <div class="col-12 col-md-8">{{ object.route }}</div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">Bus</div>
    <div class="col-12 col-md-8">{{ object.registration }}</div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">Name</div>
    <div class="col-12 col-md-8">{{ object.name }}</div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">Teacher</div>
    <div class="col-12 col-md-8">{{ object.teacher }}</div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">Attendant</div>
    <div class="col-12 col-md-8">{{ object.attendant }}</div>
  </div>

  {% include "riders.html" with object_list=riders route_info=False %}
</div>
{% endblock %}
